.dashboard {
  display: flex;
  height: "100%";
  background-color: #F3F4F8;
  /* margin-left: 86px; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: #F3F4F8;
  padding: 24px;
  display: flex;
  margin-left: 37px;
  gap: 20px;
}

.left-panel {
  flex: 3;
  background-color: #F3F4F8;
}

.right-panel {
  flex: 1;
  background-color: #F3F4F8;
  border-radius: 50px;
  box-sizing: border-box;
}



.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0 30px;
  margin-left: 30px;
  margin-top: 65px;
}


.header-actions {
  display: flex;
  gap: 12px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F4F8;
}

.header-actions {
  display: flex;
  gap: 12px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  line-height: 1;
  justify-content: center
}

.btn-icon {
  width: 16px;
  height: 16px;
}

.btn.primary {
  background-color: #6366f1;
  color: white;
  border-radius: 90px;
}

.btn.secondary {
  background-color: #f3f4f6;
  color: #333;
  border-radius: 90px;  
}

.headerfont{
  font-weight:700;
  font-size: 30px;
  
}